.app {
  text-align: center;
  background: linear-gradient(90deg,rgba(130, 130, 130, 1) 0%, #050C3D 100%);
  min-height:100vh;
  height:100vh;
  width: 100vw;
}



@media (prefers-reduced-motion: no-preference) {

}

.app-header {
  margin: 0;
  padding:0.4em;
  font-size: 2em;

  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.app-body{
  padding-top:2em;
  display:flex;
  /* align-items: center;
  align-self: center;
  align-content: center; */
  justify-content: space-around;
  /* align-content:space-around; */
  
}

.app-link {
  color: #61dafb;
}

.button_slide {
  color: #fff;
  border: 2px solid rgb(216, 2, 134);
  background-color: #282c34;
  border-color:beige;
  border-radius: 1px;
  padding: 18px 36px;
  display: inline-block;
  font-family: sans-serif, "Lucida Console", Monaco, monospace;
  font-size: 1.5em;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #61dafb;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  text-decoration: none;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #000;
}


/* ----- Spinner via loading.io/css ----- START */


.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: yellow;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}



/* ----- Spinner via loading.io/css ----- END */